.main {
  max-width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.image-wrapper {
  margin-left: -1.75rem;
  margin-right: -1.75rem;
  display: block;
  aspect-ratio: 1.3;
  position: relative;
  border-radius: 6rem;
  overflow: hidden;

  padding: 0 1.75rem;

  width: 60%;
}

.title-wrapper {
  width: 40%;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
  }

  .image-wrapper {
    width: 100%;
    margin: 0;
    border-radius: 4rem;
  }

  .title-wrapper {
    width: 100%;
  }
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-weight: 800;
  line-height: 1.25;
  font-size: 3.5rem;
}

.description {
  line-height: 1.75;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .description-expander {
    position: relative;
    max-height:  300px;
    overflow: hidden;
    --transition-duration: 0.5s;
    transition:
      max-height var(--transition-duration) ease-in-out,
      padding-bottom 0.25s ease-in-out;
  }
  
  .description-expander.expanded {
    max-height: var(--description-height);
    padding-bottom: 2rem;
  }
  
  .description-expander::after {
    position: absolute;
    content: ' ';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(var(--primary-background-ints), 0) 10%, rgba(var(--primary-background-ints), 1) 90%);
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }
  
  .description-expander.expanded::after {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

.start-cooking {
  display: block;
  margin: auto;
}

.ingredients {
  font-size: 1.1rem;
}

.instructions {
  font-size: 1.1rem;
}

.grid-wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}
.grid-wrapper > *:first-child {
  width: 40%;
}
.grid-wrapper > *:last-child {
  width: 60%;
}

.yield {
  margin-top: 2rem;
}

.metadata {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.metadata-field {
  display: contents;
}

.metadata-field-label {
  font-weight: bold;
  text-align: right;
}

.meta-wrapper {
  align-items: center;
}

@media (min-width: 768px) {
  .start-cooking {
    display: none;
  }
  .controls {
    display: none;
  }
}

@media (max-width: 768px) {
  .grid-wrapper {
    flex-direction: column;
    margin-top: 0;
    gap: 0;
  }

  .grid-wrapper > *:first-child {
    width: 100%;
  }
  .grid-wrapper > *:last-child {
    width: 100%;
  }
  .metadata {
    display: none;
  }

  .ingredients {
    margin-top: 2rem;
  }
  .instructions {
    margin-top: 2rem;
  }
}