.cook-mode-panel-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  background: var(--primary-background);
  z-index: 9999;
}

.cook-mode-panel-wrapper::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 9999px;
  background: var(--primary-background);
}

.cook-mode-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  padding: calc(var(--gutter) / 2);

  display: flex;
  flex-direction: column;

  font-size: 1.75em;
}

.tab-wrapper {
  flex-grow: 1;
  position: relative;
}

.tabs {
  display: flex;
  gap: 1rem;
  padding: calc(var(--gutter) / 2) 0;
}

.tab-button {
  border: 3px solid var(--secondary-background);
}

.tab-active {
  background: var(--accent-background);
  color: var(--accent-text);
  border-color: var(--accent-background);
}

.directions-tab, .ingredients-tab {
  transition: transform 0.3s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: scroll;
  padding: calc(var(--gutter) / 2);
}

.directions-tab::-webkit-scrollbar, .ingredients-tab::-webkit-scrollbar {
  display: none;
}

.directions-tab {
  transform: translateX(100vw);
}

.tab-active-directions .directions-tab {
  transform: translateX(0);
}

.tab-active-directions .ingredients-tab {
  transform: translateX(-100vw);
}

.back-button {
  margin-right: auto;
}

.ingredient {
  background: var(--secondary-background);
  padding: 2rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  line-height: 1.75;
}

.ingredient.completed {
  opacity: 0.8;
}

.checkbox {
  color: var(--primary-text);
  margin-right: 1rem;

  display: flex;
  align-items: center;
}

.ingredient.completed .checkbox {
  color: var(--good-green);
}

.step {
  line-height: 1.5;
  margin-bottom: 3rem;
}

.step.active {
  font-weight: bold;
}
.step.completed {
  opacity: 0.8;
}
.step-number {
  font-weight: 800;
  position: relative;
  padding-bottom: 0.66rem;
  margin-bottom: 1.5rem;
}
.step-number::after {
  content: ' ';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  width: 3rem;
  background: var(--primary-text);
}