/**
 * Handling variables for dark/light mode toggle
 *
 * We declare the light and dark values separately so
 * we can later referencne them as variables in
 * selectors that are inside & outside of the
 * prefers-color-scheme media query. This allows us
 * to only have to define the dark color scheme
 * once.
 */
:root, body.light-theme {
  --light-primary-background: white;
  --light-secondary-background: #f0f0f0;
  --light-tertiary-background: #d9d9d9;
  --light-primary-text: black;

  --dark-primary-background: black;
  --dark-secondary-background: #171717;
  --dark-tertiary-background: #2a2a2a;
  --dark-primary-text: white;

  --primary-background: var(--light-primary-background);
  --secondary-background: var(--light-secondary-background);
  --tertiary-background: var(--light-tertiary-background);
  --primary-text: var(--light-primary-text);

  --primary-font-family: var(--public-sans);

  --gutter: 2rem;
}

@media (prefers-color-scheme: dark) {
  /*
    The values in this block MUST match the values
    in the html.dark-theme block below.
  */
  :root {
    --primary-background: var(--dark-primary-background);
    --secondary-background: var(--dark-secondary-background);
    --tertiary-background: var(--dark-tertiary-background);
    --primary-text: var(--dark-primary-text);
  }
}
/*
  The variables in this block MUST match the values
  in the media query :root block above.
*/
body.dark-theme {
  --primary-background: var(--dark-primary-background);
  --secondary-background: var(--dark-secondary-background);
  --tertiary-background: var(--dark-tertiary-background);
  --primary-text: var(--dark-primary-text);
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
  overflow-x: hidden;
  font-family: var(--primary-font-family);
}
