.content {
  height: stretch;
  margin-top: 1rem;
  /* padding-bottom: 16rem; */
  position: relative;
  overflow: hidden;
}


.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  padding-bottom: 16rem;
}

.mobile-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ccc;
  overflow-y: scroll;
}

.mobile-panel-motion-div {
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
}

.mobile-panel {
  position: relative;
  z-index: 999;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  background: black;
  overflow-y: scroll;
  padding-bottom: 16rem;
}