.content {
  margin-top: 1rem;
  max-width: 100vw;
  overflow-x: hidden;
}

.mobile-panel-motion-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
}

.mobile-panel {
  position: relative;
  z-index: 999;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  background: black;
  overflow-y: scroll;
  padding-bottom: 16rem;
  padding-top: 82px;
}

@media (min-width: 769px) {
  .search-wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 33vw;
    z-index: 99999;
  }

  .mobile-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .mobile-panel + .content-wrapper {
    display: none;
  }
}