.filter-menu {
  background: var(--tertiary-background);
  border-radius: 1.75rem;
  margin: 0rem -1rem 0 -1rem;
  /* visibility: hidden; */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 1.5rem;
  transition:
    visibility 0s linear 0.5s,
    max-height 0.5s ease-out,
    opacity 0.25s ease-in-out,
    padding 0.25s ease-in-out,
    margin 0.25s ease-in-out;
}

.filter-menu-header {
  display: flex;
  justify-content: space-between;
}

.filter-button {
  border: 2px solid var(--quaternary-background) !important;
  margin-right: 0.33rem !important;
  margin-bottom: 0.5rem !important;
}

.filter-menu-visible {
  padding: 1.5rem;
  /* visibility: visible; */
  max-height: 300px;
  opacity: 1;
  margin-top: 1rem;
  transition:
    visibility 0s linear,
    max-height 0.5s ease-in-out,
    opacity 0.25s ease-in-out,
    padding 0.25s ease-in-out,
    margin 0.25s ease-in-out;
}

.filter-button-active {
  background: var(--primary-text);
  color: var(--primary-background);
  border: 2px solid var(--primary-text) !important;
}