.recipe-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.75rem;
}

.recipe-card a {
  text-decoration: none;
  color: inherit;
}

.image-wrapper {
  margin-left: -1rem;
  margin-right: -1rem;
  display: block;
  height: 200px;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.time {
  font-size: 0.9rem;
}