.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3rem 5rem;
  max-width: 1400px;
  margin: auto;
  margin-top: 1.65rem;
}

@media (max-width: 768px) {
  .recipe-list {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem
  }
}