.search-bar {
  display: flex;
  padding: 0.5rem 0.9rem;
  width: calc(100% + 2rem);
  box-sizing: border-box;
  
  flex: 1;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 1rem;

  border-radius: 999px;
  background: var(--secondary-background);
}


@media (max-width: 768px) {
  .search-bar {
    margin-top: 0;
  }
}


.search-bar form {
  flex-grow: 1;
  flex: 1;
  display: flex;
  align-items: center;
}

.search-bar input {
  background: transparent;
  outline: none;
  border: none;
  color: var(--primary-text);
  font-family: var(--primary-font-family);
  font-weight: bold;
  display: block;
  width: 100%;

  /*
    Important: this 16px font size fix prevents iOS from zooming
    in when the user focuses on the input field.
  */
  font-size: 16px;
}

.search-bar input::placeholder {
  color: var(--secondary-text);
}

.search-icon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.filter-icon {
  display: flex;
  align-items: center;
  padding: 0.65rem 1rem;
}
.filter-icon svg {
  width: 1.75rem;
  height: 1.75rem;
}