.menu-button {
  padding-left: 0;
  padding-right: 0;
}

.menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: -3rem;
  z-index: 9999;
}

.menu-wrapper::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 9999px;
  background: var(--secondary-background);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100vw + 3rem);
  max-width: 500px;
  box-sizing: border-box;
  background: var(--secondary-background);
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding: 1rem calc(1rem + var(--gutter));
  /* margin-left: -3rem; */
  overflow-y: auto;
  z-index: 1;
  transition: transform 0.2s ease-out, visibility 0.2s ease-out;
}

.menu-list {
  padding-top: 5rem;
}

.menu-item {
  padding: 2rem 0;
  border-top: 1px solid var(--tertiary-background);
}

.item-heading {
  font-weight: 800;
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

.item-description {
  margin-bottom: -0.5rem;
}

.menu-item a {
  text-decoration: none;
  color: var(--primary-text);
}

@media (min-width: 500px) {
  .close-button svg {
    transform: rotate(180deg);
  }
}

@media (max-width: 500px) {
  .menu {
    padding-left: calc(2rem + var(--gutter));
  }
  .menu-list {
    padding: 5rem 1rem;
  }
}
