.menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--secondary-background);
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding: 1rem calc(1rem + var(--gutter));
  overflow-y: auto;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu.is-open {
  transform: translateX(0);
}