.mobile-nav-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  background: var(--secondary-background);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem calc(0rem + var(--gutter));
}

.mobile-nav a {
  color: var(--primary-text);
  padding: 1rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  max-width: 56px;
  overflow: hidden;
  box-sizing: border-box;

  transition: max-width 0.2s ease-in-out;
}
.mobile-nav a[data-active=true] {
  background: var(--tertiary-background);
  max-width: 100%;
}

.link-text {
  white-space: pre;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.mobile-nav a[data-active=true] .link-text {
  opacity: 1;
}
.link-icon {
  display: flex;
}
.link-icon svg {
  height: 1.5rem;
  width: auto;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}