.mobile-nav-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  background: var(--secondary-background);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem calc(1rem + var(--gutter));
}

.mobile-nav a {
  color: var(--primary-text);
  padding: 1rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
}
.mobile-nav a[data-active=true] {
  background: var(--tertiary-background);
}

.link-icon {
  display: flex;
}
.link-icon svg {
  height: 1.5rem;
  width: auto;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}